<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><h1>Social network</h1></a>
        {% if current_user.is_authenticated %}
        <a class="navbar-brand" href="/user/{{current_user.id}}"><img
                src="data:image/png;base64,{{current_user.picture}}" alt="Ошибка загрузки" class="user-picture"> {{
            current_user.nickname }}</a>
        <div>
            <a class="btn btn-primary navigation-button-2" href="/change_picture/{{current_user.id}}">Change profile
                picture</a>
            <a class="btn btn-success navigation-button-2" href="/logout">Log out</a>
        </div>
        {% else %}
        <p>
            <a class="btn btn-primary navigation-button-1" href="/register">Register</a>
            <a class="btn btn-success navigation-button-1" href="/login">Log in</a>
        </p>
        {% endif %}
    </nav>
</header>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>